@font-face {
    font-family: 'grim-reaper';
    src: local('GrimReaper-jEBRO'),
         url('./grim-reaper-font/GrimReaper-jEBRO.ttf') format('truetype'),
}
@font-face {
    font-family: 'Marcellus SC';
    src: local('MarcellusSC-Regular'),
         url('./marcellus-sc/MarcellusSC-Regular.ttf') format('truetype'),
}