.contact-section {
    margin: 10vh 3vw;
    display: grid;
    grid-template-columns: 75vw 10vw
}

.contact {
    margin: 0 5vw;
    color: white;

}

.socials {
    display: grid;
    grid-template-columns: 35vw 35vw;
    row-gap: 3vw;
    text-align: left;
}

.socials div {
    display: flex;
    align-items: center;
}

.socials div a {
    /* background-image: url(https://i.pinimg.com/originals/be/5e/71/be5e71a29b38a1c15cc266a9a360e5ae.png); */
    padding: 1.5vh;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    border-bottom: 8px solid azure;
    text-decoration: none;
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    width: 20vw;
    background-image: linear-gradient(to top, rgba(131, 129, 255, 0.632), transparent);

}

.social-icons {
    margin-right: 2vw;
}

.coc img,
.devpost img {
    height: 8vh;
}

.contact h1 {
    font-size: 2rem;
    text-align: left;
    font-family: "Marcellus SC";
    background-image: url('../../assets/frame6.png');
    padding: 1.2vw;
    padding-top: 1vw;
    padding-left: 4vw;
    color: rgb(20, 10, 66);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-top: 2vw;
}

/* .footer-btn a{
    text-decoration: none;
} */
.light2 {
    height: 40vh;
    transform: translate(1.5vw, -10vh);
    filter: drop-shadow(0 4vh 4vh rgb(255, 230, 0));
    animation: swing 2s infinite;
}

.icons {
    height: 8vh;
}

.register-btn2 {
    padding:2vh 8vw;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(42, 42, 58);
    font-size: 1.1rem;
    margin:0  1vw;
    margin-top: 2vh;
    
    cursor: pointer;
    border: 1vh outset lightblue;
    /* border:none;
    background-image: url('../../assets/button1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2vw;
    background-color: transparent;
    transform: scale(1.3); */
}

.register-btn2 a {
    text-decoration: none;
    color: white;
}

.register-btn2:hover {
    transform: scale(1.05);

}

.discord-btn2 {
    padding: 2vh 8vw;
    margin-top: 2vh;
    color: rgb(42, 42, 58);
    border: none;
    border-radius: 10px;
    background-color: rgb(218, 223, 255);
    font-size: 1.1rem;
    cursor: pointer;
    border: 1vh outset rgb(113, 145, 155);
}

.discord-btn2:hover {
    background-color: azure;
    transform: scale(1.05);

}

@media (max-width:767px) {
    .contact-section {
        margin: 12vh 6vw;
        display: grid;
        grid-template-columns: 75vw
    }

    .contact {
        margin: 0 0vw;
        color: white;

    }

    .socials {
        display: grid;
        grid-template-columns: 38vw 38vw;
        row-gap: 4vh;
        column-gap: 10vw;
        text-align: left;
        margin-top: 5vh;
    }

    .socials div {
        display: flex;
        align-items: center;
    }

    .socials div a {
        padding: 1vh 0.5vh;
        border-bottom: 4px solid azure;
        /* margin: 0; */
        font-weight: normal;
        font-size: 0.6rem;
        letter-spacing: 1px;
        width: 36vw;
    }

    .social-icons {
        margin-right: 1vw;
    }

    .coc img,
    .devpost img {
        height: 3vh;
    }

    .contact h1 {
        font-size: 1rem;
        padding: 2vw;
        padding-top: 1vw;
        padding-left: 5vw;
       
        margin-top: 2vw;
    }

    .light2 {
        height: 18vh;
        transform: translate(75vw, -50vh);
        position: absolute;
    }

    .icons {
        height: 3vh;
    }
    .footer-btns{
        margin-top: 2vh;
        display: flex;
        justify-content: space-between;
    }
    .register-btn2 {
        padding:1vh 4vw;
        margin: 0;
        font-size: 0.8rem;
        border: 5px outset rgb(113, 145, 155);
    }

    .discord-btn2 {
        padding: 1vh 4vw;
        margin-top: 0vh;
        font-size: 0.8rem;
        border: 5px outset rgb(113, 145, 155);
    }

}