.filler-section{
    overflow: hidden;
    top: 0;
    margin: 0;
}.filler{
    height: 100vh;
    color: rgb(26, 10, 81);
    background-image: url('../../assets/art10.png');

}
.filler div{
    padding-top: 20vh;
}

.filler h1{
    margin: 0;
    font-size: xx-large;
}
.filler h2{
    margin: 0;
    font-size: x-large;
}

@media (max-width:900px) {

   .filler div{
    padding-top: 30vh;
} 
.filler a{
    color: white;
}
.filler h1{
    font-size: x-large;
}
.filler h2{
    font-size: large;
}
}

