.hero {
    /* width: 100vw; */
    height: 100vh;
}

.hero-btns {
    display: block;
}
.rock-mountain {
    width: 112vw;

}

.rocks {
    transform: translateY(-20vh);
    height: 90vh;
    float: right;
}

@media (max-width:900px) {
    .snowboy {
        position: absolute;
        z-index: 3;
        height: 10vh;
        /* filter: drop-shadow(0 -1vh 3vh rgba(0, 0, 139, 0.586)); */
        transform: translate(-10vw, 38vh);
    }

    .hero-btns {
        width: 28vw;
    }

    .rock-mountain {
        width: 100%;
    }

    .rocks {
        transform: translate(110vw, -8vh);
        height: 55vh;
    }
}