.hero {
    /* width: 100vw; */
    height: 100vh;
}

.hero-btns {
    position: relative;
    display: block;
}
.rock-mountain {
    z-index: 3;
    width: 100vh !important;
    height: 100vh !important;
}

.rocks {
    transform: translate(40vw, -20vh);
    height: 90vh;

    display: block;
    background-size: cover;
}

@media (max-width:767px) {
    .hero {
        height: 70vh;
    }
    .snowboy {
        position: absolute;
        z-index: 3;
        height: 10vh;
        /* filter: drop-shadow(0 -1vh 3vh rgba(0, 0, 139, 0.586)); */
        transform: translate(-10vw, 38vh);
    }

    .hero-btns {
        z-index: 3 !important;
        width: 28vw;
    }

    .rock-mountain {
        z-index: 1 !important;
        width: 100%;
    }

    .rocks {
        z-index: 1;
        width: 41vh;
        position: absolute;
        top: 480px;
        left: -120px;
        height: auto;
    }
}