.sponsors {
    margin-top: 15vh;
    color: white;
    height: 20vh;
}

.sponsor-section {
    height: 100vh;
}
.sponsors h1 {
    font-size: 2.5rem;
    padding: 2vw;
    color: rgb(20, 10, 66);
    font-family: "Marcellus SC";
    background-image: url('../../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sponsor-logo{
    height: 7vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2vh;
    border-radius: 15px;
    margin-right: 1vw;
}
.sponsor-list{
    display: flex;
    justify-content: center;
}
.advantagelogo{
   
    background-color:  rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 3vw !important;
}
@media (max-width:767px) {

    .advantagelogo {
        width: 6rem;
    }

    .sponsors {
        margin-top: 5vh;
        height: 10vh;
    }

    .sponsors h1 {
        font-size: 1.5rem;
        padding: 2.5vw;
        margin: 0;
    }

    .sponsors h2 {
        font-size: 1rem;
    }

    .sponsors {
        margin-top: 15vh;
        color: white;
        height: 20vh;
    }

 
}