/* 
======
Prizes
======
*/

.prizes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.prize-bg {
  background-color: rgb(18, 33, 88, 0.3);
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  height: 200px;
  width: 500px;
  position: relative;
  z-index: -2;
}

.prize {
  top: -70px;
  left: 190px;
  position: relative;
  max-width: 100%; /* Set the maximum width to 100% of its container */
  height: 60%;
}

.prize-pool h2 {
  color: white;
  font-size: 2rem;
  margin: 0.5em 0;
  letter-spacing: 4px;
}

.prize-pool h1 {
  color: white;
  font-size: 4rem;
  margin: 0;
  letter-spacing: 2px;
}

.prize-pool h2,
h1 {
  font-family: 'Marcellus SC';
}

/* 
========
Sponsors
========
*/

.sponsors {
  margin: 0 10vw;
  margin-top: 15vh;
  color: white;
}

.sponsor-section {
  /* height: auto; */
}
.sponsor-heading {
  font-size: 2.5rem;
  padding: 2vw;
  color: rgb(20, 10, 66);
  font-family: 'Marcellus SC';
  background-image: url('../../assets/frame1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sponsor-logo {
  height: 7vw;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2vh;
  border-radius: 15px;
  margin-right: 1vw;

} 
.sponsor-list {
  display: flex;
  justify-content: center;
}
.swag-partner{
  margin-bottom:6vh ;
}
.category-sponsors img{
  height: 10vh;
  max-width:25vw;
  margin-bottom: 3vh;
}
.advantagelogo{
background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 2vw;
display: flex;}

.advantagelogo p{
  margin: 2vh 0;
}

@media (max-width: 767px) {
  .advantagelogo{
    display: flex;
    align-items: center;
  }
  .advantagelogo img{
    height: 6vh;
  }

  .sponsor-section {
    height: 60vh;
  }

  .sponsors {
    margin-top: 5vh;
    height: 10vh;
  }

  .sponsors h1 {
    font-size: 1.5rem;
    padding: 2.5vw;
    margin: 0;
  }

  .sponsors h2 {
    font-size: 1rem;
  }

  /* .sponsors {
    margin-top: 15vh;
    color: white;
    height: 20vh;
  } */

  .prizes {
    margin-top: 3vh;
    margin-bottom: 8vh;
  }

  .prize-bg {
    position: relative;
    height: 100px;
    width: 250px;
  }

  .prize-pool h2 {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .prize-pool h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .prize {
    position: relative;
    top: -40px;
    left: 95px;
    max-width: 100%;
    height: 50%;
  }
}
