.team-section {
    /* height: 70vh; */
    margin: 2vh 5vw;


}

.team-container {
    justify-content: center;
    display: block;
    color: white;
}
.teamsubsection{
    display: flex;
    justify-content: center;

}

.team-section h1 {
    color: rgb(20, 10, 66);
    font-size: 2rem;
    padding: 3vw;
    font-family: "Marcellus SC";
    background-image: url('../../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.team-section p {
    margin: 1vh 0;
    color: rgb(35, 34, 53);
    font-size: 1.05rem;
}

.team-pic {
    border-radius: 15px;
    height: 28vh;
}

.member {
    border-radius: 15px;
    border: 5px solid white;
    background-color: lightcyan;
    margin: 1vh 1vw;

}


@media (max-width:900px) {
.team-section {
        height: auto;
        margin: 2vh 1vw;
    }


    .team-section h1 {
        font-size: 1rem;
        padding:4vw;

    }

    .team-section p {
        margin: 0.5vh 0;
        color: rgb(35, 34, 53);
        font-size: 0.65rem;
    }

    .team-pic {
        border-radius: 15px;
        height: 11vh;
    }

    .member {
        border-radius: 15px;
        border: 2px solid white;
        background-color: lightcyan;
        margin: 1vh 1vw;
        /* padding: 0 1vh; */

    }

   
}