@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova&family=Mooli&family=Cinzel:wght@700&family=Lora&family=EB+Garamond&family=DM+Serif+Display&family=Marcellus+SC&family=Oleo+Script&family=Poppins:wght@300;400&display=swap');

body{
    scroll-behavior: smooth;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova";
    /* font-family:'Trebuchet MS',sans-serif; */
    overflow-x: hidden;
}
main{
    overflow-x: hidden;
    width: 100vw;
}

.hero{
    /* width: 100vw; */
    height: 100vh;
}

.logo{
    height: 10vh;
    margin-right: 1vw;
}
.navbar{
    margin: 2vh 3vw;
    display: flex;
}
.navbar ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    font-weight: 500;
    
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    margin-right:4vw ;
    font-size: 1.15em;
    font-weight: 600;
}
.bg-section{
    top: 0;
    margin: 0;
    z-index: -2;
    position: absolute;
    background-color: rgb(20, 10, 66);
    overflow: hidden;
    height: 890vh;
    width:99vw;
}
.bg{
    height: 120vh;
    width: 100vw;
    background-size: cover;
    z-index: -2;
}

/* .stone{
    height: 70vh;
    /* transform: translate(0,-120vh); */
.bg2{
    z-index: -3;
    transform: translateY(-4vh);
    width: 100vw;
    background-size: cover;
}
.bg3{
    z-index: -3;
    width: 100vw;
    transform: translateY(-5vh);

}
.bg4{
    z-index: -3;
    width: 100vw;
    transform: translateY(-10vh);
}
.bg5{
    z-index: -4;
    width: 100vw;
    transform: translateY(-20vh);
}
.bg6{
    z-index: -4;
    width: 100vw;
    transform: translateY(-40vh);
}
.bg7{
    z-index: -4;
    width: 100vw;
    transform: translateY(-65vh);
}
.rock-mountain{
        width: 112vw;

}
.rocks{
    transform: translateY(-10vh);
    height: 80vh;
    float: right;
}
/* @keyframes turn {
    0%{
        transform: skew(15deg,2deg);
    }
    100%{
        transform: skew(-25deg,10deg);
    }
    
} */
/* .boy-animation{
    height: 40vh;
} */

.event-details{
    color: white;
    text-align: left;
    padding-left: 3vw;

}
.event-details h1{
    color: rgb(35, 34, 53);
    margin: 0;
    font-size: 6.5rem;
    text-align: left;
    /* font-family:"cinzel"; */
    font-family:"grim-reaper";
    /* font-family:" breathe-fire"; */
    /* font-family:"death-star"; */
    /* font-family:" dragon-hunter"; */
    font-weight: bold;

}
.event-details h3{
    margin: 0;
    text-align: left;
    font-size: 1.8rem;
    font-family:'Trebuchet MS',sans-serif;
}
.event-details h4{
    color: rgb(20, 10, 66);
    font-size: 1.7rem;
    font-family:'Trebuchet MS',sans-serif;
    margin: 2vh 0;
    margin-top: 0;
}
.hero-btns{
    display: flex;
}
.register-btn{
    padding: 2vh 3vw;
    margin-top: 5vh;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(42, 42, 58);
    font-size: 1.1rem;
    margin-right: 2vw;
    cursor: pointer;
    border: 1vh outset lightblue;
}
.register-btn a{
    text-decoration: none;
    color: white;
}
.register-btn:hover{
    background-color: rgb(42, 42, 81);
    transform: scale(1.05);

}
.discord-btn{
    padding: 2vh 3vw;
    margin-top: 5vh;
    color: rgb(42, 42, 58);
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    cursor: pointer;
    border: 1vh outset rgb(113, 145, 155);

}
.discord-btn:hover{
    background-color: azure;
    transform: scale(1.05);

}

.about-section{
    margin-top: 38vh;
    width: 100%;
}
.about{
display: grid;
grid-template-columns: 40vw 50vw;
margin: 0 5vw;
padding-bottom: 10vh;
align-items: center;
}
.crystal-rock{
    margin-right: 3vw;
    margin-left: 0;
}
.crystal-on-rock{
    animation: float 4s ease-in-out infinite;
    height: 35vh;
    filter: drop-shadow(0vh 5vh 4vh rgb(41, 184, 255));
 }
 .rock-holder{
    height: 65vh;
 }
 @keyframes float{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 8vh); }
    100%   { transform: translate(0, -0px); }
}
 /* .trees{
    width: 100vw;
    margin-left: 0;
    position: absolute;
 } */
.info{
    height: auto;
    padding: 2vw;
    padding-left: 0;
    margin: 0;
    color:rgb(35, 34, 53);
    border: none;
}
.info h1{
    color: rgb(20, 10, 66);
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 2vw;
    font-family: "Marcellus SC";
    background-image: url('../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.info p{
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    font-weight: 500;
    

}
.snow3{
    height: 10vh;
}
.tracks-section{
    margin: 0 2vw;
}
.tracks{
    padding: 4vh 4vw;
    display: flex;
    /* grid-template-columns: 40% 40%; */
}
.crystal{
    height: 20vh;
    position: absolute;
    transform: translate(-12vw,-8vh);
}

.themes{
    background-image: url(https://i.pinimg.com/originals/be/5e/71/be5e71a29b38a1c15cc266a9a360e5ae.png);
    background-size: cover;
    border: 2vh solid rgb(35, 34, 53);
    border-radius: 16px;
    border-style:outset;
    color: rgb(55, 40, 168);
    width: 20vw;
    margin-right:3vw ;
    background-color: transparent;
    padding:1vh 1vw;
    /* margin-bottom: 5vh; */
}
.tracks-section h2{
    /* margin: 0; */
    padding: 2vw;
    /* padding-bottom: 10vh; */
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(20, 10, 66);
    font-family: "Marcellus SC";
    background-image: url('../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.themes h1{
    font-size: 2rem;
    /* width: 10vw; */
    text-align: right;
    margin: 0;
    height: 15vh;
    overflow: hidden;
    font-family: "Marcellus SC";

}
.track1{
    transform: skewX(10deg) translateY(10%);
}
.track2{
    transform: skewX(6deg) translateY(-8%);
}
.track3{
    transform:skewX(-6deg) translateY(-8%) ;}

.track4{
    transform: skewX(-12deg) translateY(10%);
    margin-right: 0 ;
}
/* .track1:hover , .track2:hover, .track3:hover,.track4:hover{
    animation: track-float 3s ease-in-out infinite;
 } */
 /* .themes:hover{
    animation: track-float 3s ease-in-out infinite;
 }
@keyframes track-float{
        0% { transform:rotate3d(20) }
        50%  { transform: perspective(30deg);  }
        100%   { transform: perspective(0deg);  }
    } */
.teleporter{
    height: 35vh;
}

.countdown-section{
    margin: 0 8vw;
    margin-bottom: 5vh;
    /* height: 50vh; */
}

.countdown{
    font-size: 2rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    left:0;
    padding-top: 10vh;
    font-family: "Marcellus SC";

}
.countdown-date{
    top:0; left:0; width:60vw; height:25vh;  border:0; 
}
.schedule-container{
    margin: 0;
    /* transform: translateY(10vh); */
}

.schedule-section h1{
    color: rgb(20, 10, 66);
    font-size: 1.5rem;
    z-index: 1;
    margin: 0;
    padding: 1vh;
    font-family: "Marcellus SC";
    border:5px outset rgb(176, 171, 153);
    background-color: rgba(232, 221, 255, 0.646);
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}
.schedule{
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-columns: 30vw 30vw;
    height: 100%;
    column-gap: 8vw;
    margin: 0 15vw;
    align-items: center;
}

.schedule-container h2{
    font-size: 2.5rem;
    color: rgb(20, 10, 66);
    font-family: "Marcellus SC";
    padding: 2vw;
    background-image: url('../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.timeline{
    padding: 2vh 0 ;
    padding-bottom: 12vh;
    color: white;
    text-align: center;
    display: grid;
    /* transform: translateY(-5vh); */
    grid-template-columns: 60% 40%;
    height: 55vh;
    background-color: transparent;
    background-image: url(https://i.pinimg.com/originals/78/ae/95/78ae955038f3abacd2a31f397afbb8a3.jpg);
    border-radius: 15px;
    border: 5px outset rgb(108, 101, 237);
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    border-bottom-left-radius: 35vh;
    border-bottom-right-radius: 35vh;
    border-top: none;
    filter: drop-shadow(0 2vh 3vh white);

}
.timeline p{
    margin: 1.5vh 0;
    font-weight: 600;
    letter-spacing: 0.8px;
}


.light{
    height: 80vh;
    margin-right: 1vw;
}

/* .frame8{
    width: 30vw;
    height: 15vh;
   
}
.frame9{
    width: 30vw;
    height: 15vh;

} */

.tree-img{
    overflow-x: hidden;
    width: 100vw;
}
.tree{
    width: 100vw;
    transform: translateX(-50vw);
    position: absolute;
    z-index: -2;
}

.faq-section{
    text-align: center;
    min-height: 150vh;
    max-height:180vh;
}
.question-container{
    margin: 2vh 25vw;
    width: 50vw;
    padding-top: 20vh;
    text-align: left;
}
.question-container h1{
    color: rgb(20, 10, 66);
    font-size: 2.5rem;
    padding: 2vw;
    font-weight: bolder;
    text-align: center;
    font-family: "Marcellus SC";
    background-image: url('../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.questions label{
    cursor: pointer;
}
.question-label{
    display: flex;
    justify-content: space-between;
    margin: 1.5vh 0;
    background-image:url(https://i.pinimg.com/originals/be/5e/71/be5e71a29b38a1c15cc266a9a360e5ae.png) ;
    border-radius: 20px;
    padding: 2vh;
    /* border-bottom: 4px outset rgb(86, 125, 245); */
    align-items: center;
    margin-bottom: 0;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: rgb(35, 35, 129);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
margin: 0 1vw;
  }
  
  .question-checkbox:checked ~ .answer {
    max-height: fit-content; 
    transition: max-height 0.3s ease-in-out;
  }
  .question-checkbox:checked ~ .question-label span {
   transform:rotateZ(60deg);
  }
.questions h4{
   margin: 0;
   font-weight: 600;
   color: rgb(35, 34, 53);
   padding: 0 1vw;
}
.questions p{
    color: azure;
    font-weight: 500;
    margin: 0 1vw;
    padding: 2vh 1vw;
    font-size: 0.9rem;
}
.team-section{
    height: 70vh;
    margin: 2vh 6vw;

}
.team-container{

    display: flex;
    color: white;
}
.team-section h1{
    color: rgb(20, 10, 66);
    font-size: 2rem;
    padding: 3vw;
    font-family: "Marcellus SC";
    background-image: url('../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.team-section p{
    margin: 1vh 0;
    color: rgb(35, 34, 53);
}
.team-pic{
    border-radius: 15px;
    height: 30vh;
}
.member{
    border-radius: 15px;
    border: 5px solid white;
    background-color:lightcyan;
    margin: 1vh 1vw;

}
.wand{
    margin-top: 4vh;
    width: 60vw;
    float: right;
}
.sponsors{
    margin-top: 15vh;
    color: white;
    height: 20vh;
}
.sponsors h1{
    font-size: 2.5rem;
    padding: 2vw;
    color: rgb(20, 10, 66);
    font-family: "Marcellus SC";
    background-image: url('../assets/frame1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.contact-section{
    margin: 0 3vw;
    margin-top: 10vh;
    /* margin-bottom: 10vh; */
    height: 65vh;
}
.contact{
    margin: 0 5vw;
    color: white;
    
}
.contact a{
    color: white;
    
}
.socials{
    display: grid;
    grid-template-columns: 30vw 30vw;
    text-align: left;
}
.contact h1{
    font-size: 2.5rem;
    text-align: left;
    font-family: "Marcellus SC";
    

}
.light2{
    height: 50vh;
    transform: translate(35vw,-35vh);
    filter: drop-shadow(0 4vh 4vh rgb(255, 230, 0));
    animation: swing 2s infinite;
}

.happyhacking h1{
    padding: 0;
    margin: 0;
    font-size: 6rem;
    color: aliceblue;
    font-family: "Marcellus SC";
}

